/* Google Sans Regular */
@font-face {
    font-family: 'Google Sans';
    src: url('./GoogleSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Google Sans Italic */
@font-face {
    font-family: 'Google Sans';
    src: url('./GoogleSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Google Sans Bold */
@font-face {
    font-family: 'Google Sans';
    src: url('./GoogleSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Google Sans Bold Italic */
@font-face {
    font-family: 'Google Sans';
    src: url('./GoogleSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url('./GoogleSansText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url('./GoogleSansText-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url('./GoogleSansText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url('./GoogleSansText-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
